
 
<!-- Home content
================================================== -->
<div class="divider"></div> 

<div class="row">

 <div class="span4 block-info">
  <h3><a href="#" class="home-title">Responsive Template</a></h3>
  <img src="assets/img/slider-img03.jpg" alt="" style="margin:25px 0 20px">
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
  <a class="btn pull-right" href="#">read more</a>
 </div>
 
 <div class="span4 block-info">
  <h3><a href="#" class="home-title">Clean and Minimalis</a></h3>
  <img src="assets/img/slider-img02.jpg" alt="" style="margin:25px 0 20px">
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
  <a class="btn pull-right" href="#">read more</a>
 </div>
 
 <div class="span4 block-info">
  <h3><a href="#" class="home-title">Video &amp; Audio Support</a></h3>
  <img src="assets/img/slider-img03.jpg" alt="" style="margin:25px 0 20px">
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
  <a class="btn pull-right" href="#">read more</a>
 </div>
 
</div>

 
  
    
  
 <!-- Latest project
================================================== -->  
  
  <div class="row">
  <div class="span12 divider-strip"><h4>Latest projects</h4><span class="strip-block"></span></div>
  </div>

  <ul class="thumbnails">
    <li class="span3 item-block">
     <a href="assets/img/bootstrap-mdo-sfmoma-01.jpg" class="zoom" rel="prettyPhoto" title="Image Title"></a>
     <a href="portfolio.html" class="link"></a>
      <a class="thumbnail" href="portfolio.html">
        <img src="assets/img/example-sites/example1.jpg" alt="example-item">
      </a>
      <div class="desc">
      <a href="portfolio.html"> Images </a>
       <p> <em>Portfolio Item Images </em></p>
      </div>
    </li>
    <li class="span3 item-block">
     
       <iframe src="http://player.vimeo.com/video/28220269?title=0&amp;byline=0&amp;portrait=0" width="270" height="135" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      <div class="desc">
      <a href="portfolio.html">Vimeo Video </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
   <li class="span3 item-block">
     <a href="assets/img/bootstrap-mdo-sfmoma-01.jpg" class="zoom" rel="prettyPhoto" title="Image Title"></a>
     <a href="portfolio.html" class="link"></a>
      <a class="thumbnail" href="portfolio.html">
        <img src="assets/img/example-sites/example1.jpg" alt="example-item">
      </a>
      <div class="desc">
      <a href="portfolio.html"> Images </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
    <li class="span3 item-block">
     <div class="row">
      <div class="span3">
     <video src="assets/media/VH_videoAsset.flv" type="video/flv" controls></video>
     </div>
     </div>
      <div class="desc">
      <a href="portfolio.html"> Local Video </a>
       <p> <em>Portfolio Item Images</em> </p>
      </div>
    </li>
  </ul>
  
 <!-- Our Services
================================================== --> 
  <div class="row">
  <div class="span12 divider-strip"><h4>Our Services</h4><span class="strip-block"></span></div>
  </div>
  
  <div class="row">
   <div class="span4">
    <video src="assets/media/VH_videoAsset.flv" type="video/flv" controls></video>
   </div>
   <div class="span8">
    <div class="row">
    
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="assets/img/create-icon.png" alt="">
      <h3><a href="#">web design</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="assets/img/develop-icon.png" alt="">
      <h3><a href="#">development</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="assets/img/usability-icon.png" alt="">
      <h3><a href="#">usability</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    <div class="span4 block-info pull-left">
      <img class="pull-left" src="assets/img/responsive.png" alt="">
      <h3><a href="#">responsive</a></h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore.</p>
    </div>
    
    </div>
    </div>
    </div>
    <div class="divider"></div> 
  
  
  <!-- Latest blog
================================================== -->
  
    <div class="row">
  
    <div class="span6">
    <div class="divider-strip block-title"><h4>Latest blog</h4><span class="strip-block"></span></div>
      <div class="row">
    <div class="span3 blog-home">
     <img src="assets/img/blog-examples/blog-home.jpg" alt="">
     <ul class="meta pull-left"><li class="data">21 may<br>2012</li><li class="post-format image"><span></span></li></ul>
     <h3><a href="#">Lorem ipsum dolor sit amet</a></h3> 
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa...</p>
     <a href="blog.html" class="btn">Read more</a>
    </div>
    <div class="span3 blog-home">
    <iframe src="http://player.vimeo.com/video/28220269?title=0&amp;byline=0&amp;portrait=0" width="270" height="100" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <ul class="meta pull-left"><li class="data">21 may<br>2012</li><li class="post-format video"><span></span></li></ul>
     <h3><a href="#">Lorem ipsum dolor sit amet</a></h3> 
     <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa...</p>
     <a href="blog.html" class="btn">Read more</a>
    </div>
    </div>
    </div>
    
    <div class="span6">
    
    <div class="divider-strip block-title"><h4>Testimonials</h4><span class="strip-block"></span></div>
      <div class="testimonialswrap" data-autorotate="3000">
		
		<ul class="testimonials-slider" id="testimonials">
			<li class="testimonials-slide">	
				 <blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
			</li>
			<li class="testimonials-slide">	
				<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
			</li>
			<li class="testimonials-slide">	
				<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
			</li>
			<li class="testimonials-slide">	
				<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
			</li>
			<li class="testimonials-slide">	
				<blockquote><p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
<small>John Doe</small></blockquote>
			</li>
		</ul>
        
        <div class="testimonials-controls">
			<a href="#testimonials" class="next-l">1</a>
			<a href="#testimonials" class="prev-l">2</a>
		</div>
        
	</div>
    </div>

    </div>

<div class="row">
 <div class="divider"></div>    
<!-- Promo
================================================== -->
 
 <div class="well no-padding-lr span12">
 <div class="row promo-buy">
  <div class="span9"><h1 class="center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </h1></div>
  <div class="span3"><a class="btn btn-large btn-success right margin-right" href="#"><i class="icon-shopping-cart icon-white"></i> Buy This Template »</a></div>
 </div>
 </div>
  
   
  </div>
  
  <div class="divider"></div>

   