<div class="slider-home">

<div class="container">
 <div class="row">
  <div class="span12">

<!-- Slider
================================================== -->
  <div id="header-container">
    
		<div id="header">

				<img class="prev" src="assets/images/bt-prev.png" alt="Previous Frame" />
				<img class="next" src="assets/images/bt-next.png" alt="Next Frame" />
				
			<div id="sequence">
				<ul style="margin:0;">
					<li>
						<h2 class="title">Creative <span>Template</span></h2>
						<h3 class="subtitle">Responsive Business &amp; Portfolio Template</h3>
						<img class="model animate-in" src="assets/images/model1.png" alt="Model 1" />
					</li>
					<li>
						<h2 class="title">Creative <span>Design</span></h2>
						<h3 class="subtitle">Responsive Business &amp; Portfolio Template</h3>
						<img class="model" src="assets/images/model2.png" alt="Model 2" />
					</li>
					<li>
						<h2 class="title">Creative <span>Template</span></h2>
						<h3 class="subtitle">Responsive Business &amp; Portfolio Template</h3>
						<img class="model" src="assets/images/model3.png" alt="Model 3" />
					</li>
                    <li class="frame4">
						<h2 class="title">Creative <span>Design</span></h2>
						<h3 class="subtitle">Responsive Business &amp; Portfolio Template<br>
<a class="btn btn-large btn-success pull-right" href="#" style="margin-top:20px;">Buy This Template</a></h3>
						<img class="model" src="assets/images/model4.png" alt="Model 4" />
					</li>
				</ul>
			</div>
           
            
		</div>
	</div>
    
    <div style="position:relative">
     <ul id="nav">
				<li><img src="assets/images/tn-model1.png" alt="Model 1" /></li>
				<li><img src="assets/images/tn-model2.png" alt="Model 2" /></li>
				<li><img src="assets/images/tn-model3.png" alt="Model 3" /></li>
                <li><img src="assets/images/tn-model4.png" alt="Model 4" /></li>
			</ul>
    </div>

  </div>
 </div>
</div>

</div>